*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

ul{
    list-style: inherit;
}

a{
    text-decoration: inherit;
    color: inherit;
}
/* ----UTILITYS---- */
.flex{
    display: flex;
    gap: 10px;
}

.column{
    flex-direction: column;
    gap: 10px;
}

.center{
    align-items: center;
}

.container-big{
    width: 80%;
    margin: 0 auto;
    max-width: 1300px;
}

.container{
    width: 60%;
    margin: 0 auto;
    max-width: 1000px;
}

.bottone{
    background-color: rgb(0, 132, 255);
    padding: 15px 13px;
    color: white;
}

.botte{
    margin: 0 auto;
    width: 80%;
}

.bd{
    border: 1px solid gray;
}
/* ----HEADER---- */

header{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0;
    color: black;
}

.left-menu{
    width: 40%;
    height: 60px;
    gap: 40px;
    list-style: none;
}

.left-menu img{
    width: 30%;
    height: 30px;
}

.right-menu{
    width: 40%;
    height: 60px;
    gap: 40px;
    justify-content: flex-end;
    list-style: none;
}

/* ------MAIN----- */

.hero{
    background-color: rgb(158, 224, 224);
    width: 100%;
    padding-top: 80px;
    height: 650px;
    margin-bottom: 200px;

}

.home{
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

}

.home .titolo{
    width: 100%;
    font-size: 4rem;
    font-weight: 900;
}

.home .prova{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left-prova{
    width: 40%;
    gap: 20px;
    position: relative;
    bottom: 30px;
}

.left-prova p:nth-child(2){
    align-self: flex-start;
}

.left-prova svg{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

.right-prova{
    width: 60%;
}

.piano{
    flex-direction: column;
    gap: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
    /* debug */
    height: 1000px;
}

.piano h1{
    font-size: 2rem;
    font-weight: 900;
}

.fatturazione{
    gap: 20px;
    align-items: center;
}

.fatturazione svg{
    height: 20px;
    width: 20px;
}

.piano .griglia{
    gap: 20px;
    justify-content: space-between;
    /* debug */
    height: 800px;
    width: 100%;
}

.piano .griglia .card{
    width: calc(100% / 3 - 40px / 3);
    /* debug */
    height: 100%;
    background-color: blueviolet;
    
}

.piano .griglia .card .titolo{
    justify-content: center;
    align-self: center;
    height: 40px;   
    width: 100%;
}

.piano .griglia .card .titolo svg{
    height: 20px;   
    width: 20px;
}

.piano .griglia .card .titolo>ul li:first-child{
    list-style-image: url("favicon.ico");
}


.contatti{
    margin-bottom: 200px;
    /* debug */
    background-color: blue;
    height: 200px;
}

.partner{
    gap: 20px;
    margin-bottom: 100px;
    /* debug */
    height: 400px;
    background-color: blue;
}

.partner .img{
    /* debug */
    width: 60%;
    background-color: red;
    height: 100%;    
}

.partner .testo{
    /* debug */
    width: 40%;
    background-color: red;
    height: 100%;    
}

.operazioni{
    gap: 80px;
    flex-direction: column;
    margin-bottom: 100px;
    /* debug */
    height: 800px;
    background-color: blue;
}

.operazioni h2{
    height: 100px;
    background-color: black;
}

.operazioni .griglia{
    flex-wrap: wrap;
    gap: 20px;

    /* debug */
    height: 620px;
}

.operazioni .griglia .card{
    width: calc(100% / 3 - 40px / 3);
    /* debug */
    height: 300px;
    background-color: chartreuse;
}

.coda{
    padding-right: 30%;
    
    /* debug */
    background-color: blue;
    height: 300px;
}

.coda h3{
    background-color: black;
    font-size: 3rem;
}

.coda p{
    height: 30px;
    width: 200px;
    background-color: red;
}

/* ----FOOTER---- */

footer{
    background-color: black;
    height: 700px;
    padding: 100px 0 50px;
}

.foot{
    height: 90%;
    background-color: blue;
    gap: 20px
}

.top-foot{
    height: 80%;
    gap: 20px;

    /* debug */
    background-color: red;
}

.top-foot ul{
    height: 100%;
    width: calc(100 / 4 - 60 / 3);

    /* debug */
    background-color: green;
}

.bottom-foot{
    height: 20%;
    background-color: red;
    width: 100%;
}