*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* ----UTILITYS---- */
.flex{
    display: flex;
    gap: 10px;
}

.column{
    flex-direction: column;
    gap: 10px;
}

.container-big{
    width: 80%;
    margin: 0 auto;
}

.container{
    width: 60%;
    margin: 0 auto;
}
/* ----HEADER---- */

header{
    height: 80px;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0;
}

.left-menu{
    width: 40%;
    height: 60px;
    background-color: red;
}
.right-menu{
    width: 40%;
    height: 60px;
    background-color: red;
}

/* ------MAIN----- */

.hero{
    background-color: rgb(162, 246, 246);
    width: 100%;
    padding-top: 80px;
    /* debug */
    height: 500px;
    margin-bottom: 100px;
}

.home{
    flex-direction: column;
    justify-content: space-between;
    /* debug */
    background-color: blue;
    height: 500px;
}

.home .titolo{
    width: 100%;
    /* debug */
    background-color: red;
    height: 33%;
}

.home .prova{
    width: 100%;
    /* debug */
    background-color: red;
    height: 63%;

    justify-content: space-between;
    align-items: center;
}

.home .prova .left-prova{
    width: 30%;
    /* debug */
    background-color: rgb(0, 255, 21);
    height: 90%;

}

.home .prova .right-prova{
    width: 60%;
    /* debug */
    background-color: rgb(0, 255, 34);
    height: 90%;    
}

.piano{
    flex-direction: column;
    gap: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
    /* debug */
    height: 1000px;
    background-color: blue;
}

.piano h1{
    /* debug */
    height: 80px;
    background-color: black;
}

.fatturazione{
    gap: 20px;
    align-items: center;
    
    /* debug */
    width: 50%;
    height: 80px;
     background-color: red;
}

.mensile{
    width: 40%;
    height: 80%;
    background-color: green;
}
.annuale{
    width: 40%;
    height: 80%;
    background-color: green;
}

.piano .griglia{
    gap: 20px;
    justify-content: space-between;
    /* debug */
    height: 800px;
    width: 100%;
}

.piano .griglia .card{
    width: calc(100% / 3 - 40px / 3);
    /* debug */
    height: 100%;
    background-color: blueviolet;
    
}

.contatti{
    margin-bottom: 200px;
    /* debug */
    background-color: blue;
    height: 200px;
}

.partner{
    gap: 20px;
    margin-bottom: 100px;
    /* debug */
    height: 400px;
    background-color: blue;
}

.partner .img{
    /* debug */
    width: 60%;
    background-color: red;
    height: 100%;    
}

.partner .testo{
    /* debug */
    width: 40%;
    background-color: red;
    height: 100%;    
}

.operazioni{
    gap: 80px;
    flex-direction: column;
    margin-bottom: 100px;
    /* debug */
    height: 800px;
    background-color: blue;
}

.operazioni h2{
    height: 100px;
    background-color: black;
}

.operazioni .griglia{
    flex-wrap: wrap;
    gap: 20px;

    /* debug */
    height: 620px;
}

.operazioni .griglia .card{
    width: calc(100% / 3 - 40px / 3);
    /* debug */
    height: 300px;
    background-color: chartreuse;
}

.coda{
    padding-right: 30%;
    
    /* debug */
    background-color: blue;
    height: 300px;
}

.coda h3{
    background-color: black;
    font-size: 3rem;
}

.coda p{
    height: 30px;
    width: 200px;
    background-color: red;
}

/* ----FOOTER---- */

footer{
    background-color: black;
    height: 700px;
    padding: 100px 0 50px;
}

.foot{
    height: 90%;
    background-color: blue;
    gap: 20px
}

.top-foot{
    height: 80%;
    gap: 20px;

    /* debug */
    background-color: red;
}

.top-foot ul{
    height: 100%;
    width: calc(100 / 4 - 60 / 3);

    /* debug */
    background-color: green;
}

.bottom-foot{
    height: 20%;
    background-color: red;
    width: 100%;
}